{% extends 'myprofile/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Tambah Mata Kuliah Gita{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="matkul-form">

        <!-- Nav Bar -->
        {% include 'myprofile/navbar.html' %}

        <h3>Tambah Mata Kuliah</h3>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-info">Tambah</button>
        </form>
    </div>
</div>

{% endblock %}