{% extends 'myprofile/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Mata Kuliah Gita{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="matkul">

        <!-- Nav Bar -->
        {% include 'myprofile/navbar.html' %}

        <h1>Mata Kuliah</h1>

        <div class="add-delete">
            <a href="{% url 'matakuliah:create_matkul' %}" class="btn btn-matkul">Add Mata Kuliah</a>
            <a href="{% url 'matakuliah:delete' %}" class="btn btn-matkul">Delete Mata Kuliah</a>
        </div>

        {% for matkul in matkuls %}
        <ul class="list-matkul">

            <div class="row">
                <div class="col-md-10">
                    <h4><a class="matkul-title"
                            href="{% url 'matakuliah:detail_matkul' matkul.id %}">{{ matkul.nama_mata_kuliah }}
                            ({{ matkul.jumlah_sks }} SKS)</a></h4>
                    <p><a class="matkul-attr">Dosen: </a>{{ matkul.dosen }}</p>
                </div>
                <div class="col-md-2 details-btn">
                    <a href="{% url 'matakuliah:detail_matkul' matkul.id %}" class="btn">Details</a>
                </div>
            </div>

        </ul>
        {% endfor %}
    
    </div>
</div>

{% endblock %}