{% extends 'myprofile/base.html' %}
{% load static %}
{% block title %}Gita's Website{% endblock %}
{% block content %}

<!-- Header -->
<header>
    <div class="container-fluid">
        <div class="header">

            <!-- Nav Bar -->
            {% include 'myprofile/navbar.html' %}

            <!--<img src="https://drive.google.com/uc?id=1HgbDT_VrmozVHSkXlsoxh7k9vSaLHuN1" alt="Gita" width="200">-->
            <div class="header-content">
                <h1>Hello, I'm Gita</h1>
                <p>Computer Science Student</p>
                <br>
                <a class="btn btn-outline-light" href="#desc" role="button"><i
                        class="fas fa-angle-double-down"></i></a>
            </div>

        </div>
    </div>
</header>

<!-- Description -->
<section id="desc">
    <div class="container-fluid">
        <div class="desc">
            <div class="d-flex justify-content-center">
                <i class="fas fa-seedling"></i>
            </div>
            <div class="d-flex justify-content-center">
                <h3>Description</h3>
            </div>
            <div class="d-flex justify-content-center">
                <p>My name is Gita and I'm 19. I am currently pursuing Bachelor's degree in <a
                        href="http://www.cs.ui.ac.id/" target="_blank" style="color:lightsalmon">Computer
                        Science</a>
                    at the Faculty of Computer Science of
                    Universitas Indonesia (University of Indonesia).<br><br>
                    I'm a student who is eager to develop many skills and learn something new. I'm also motivated to
                    do
                    works that conduce positive
                    social impacts so that my knowledge can be beneficial for numerous people.<br><br>
                    I like cats and easy-to-eat food.</p>
            </div>

        </div>
    </div>
</section>

<!-- Education -->
<section>
    <div class="container-fluid">
        <div class="education">

            <div class="d-flex align-items-center justify-content-center">
                <i class="fas fa-book-open"></i>
                <h3>Education</h3>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <table>
                    <tr class="ui">
                        <td class="first-td">2019 - now</td>
                        <td class="second-td">
                            <p>Universitas Indonesia</p>
                            <p class="sub-td">Bachelor's degree in Computer Science</p>
                        </td>
                    </tr>
                    <tr class="sman3">
                        <td class="first-td">2015 - 2018</td>
                        <td class="second-td">
                            <p>SMA Negeri 3 Bandung</p>
                            <p class="sub-td">Mathematics and Natural Sciences</p>
                        </td>
                    </tr>
                    <tr class="nassa">
                        <td class="first-td">2006 - 2015</td>
                        <td class="second-td">SD-SMP Nassa School</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
    </div>
</section>

<!-- Hobbies -->
<section>
    <div class="container-fluid">
        <div class="hobby">

            <div class="d-flex align-items-center justify-content-center">
                <h3>My Hobbies</h3>
            </div>
            <div class="d-flex justify-content-center">
                <div class="hobbies">
                    <div class="row">
                        <div class="col-lg-4 px-4 py-4">
                            <i class="fab fa-connectdevelop"></i><br>
                            <h4>Surfing the internet</h4>
                        </div>
                        <div class="col-lg-4 px-4 py-4">
                            <i class="fas fa-bed"></i><br>
                            <h4>Sleeping</h4>
                        </div>
                        <div class="col-lg-4 px-4 py-4">
                            <i class="fas fa-atlas"></i><br>
                            <h4>Studying</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Modal -->
<section>
    <div class="container-fluid">
        <div class="projects-modal">
            <button type="button" class="btn btn-projects" data-toggle="modal" data-target=".bd-example-modal-lg">
                My Projects
            </button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">My Projects</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Carousel -->

                            <div id="projects-carousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#projects-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#projects-carousel" data-slide-to="1"></li>
                                    <li data-target="#projects-carousel" data-slide-to="2"></li>
                                    <li data-target="#projects-carousel" data-slide-to="3"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <h4>Budaya Knowledge Base Lite v2.0</h4>
                                        <img class="d-block w-100" src="{% static 'myprofile/images/budaya.png' %}"
                                            alt="Budaya Knowledge Base">
                                    </div>
                                    <div class="carousel-item">
                                        <h4>Timeline Web App</h4>
                                        <img class="d-block w-100" src="{% static 'myprofile/images/itfweb.png' %}" alt="Timeline Web App">
                                    </div>
                                    <div class="carousel-item">
                                        <h4>Secrets - Share your secrets anonymously</h4>
                                        <img class="d-block w-100" src="{% static 'myprofile/images/secrets.png' %}" alt="Secrets">
                                    </div>
                                    <div class="carousel-item">
                                        <h4>Simon Game - A color sequence game</h4>
                                        <img class="d-block w-100" src="{% static 'myprofile/images/simongame.png' %}" alt="Simon Game">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#projects-carousel" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#projects-carousel" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn" href="{% url 'myprofile:projects' %}">See projects page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}