<nav class="navbar navbar-expand-lg navbar-light fixed-top">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand"><a href="/">Gita's Website</a></div>

    <div class="collapse navbar-collapse" id="navbarToggler1">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story1:story1index' %}">Story 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myprofile:projects' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myprofile:time' %}">Time</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'matakuliah:matkuls' %}">Mata Kuliah</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reach">Contact</a>
            </li>
        </ul>

    </div>
</nav>