{% extends 'myprofile/base.html' %}
{% block title %}Time{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="header">
{% include 'myprofile/navbar.html' %}
    <br><br><br><br>
<h1>{{ time }}</h1>
</div></div>

{% endblock %}